h2 {
	margin-top: 2em;
	margin-left: 36%;
}

h3 {
	margin: 2em;
}

p {
	width: 80%;
	margin: 2em;
}

pre {
	margin-left: 2em;
	margin-right: 2em;
  background: #ccffff;
	width: 85%;
	font-size: 2em;
}

code {
	background: #ccffff;
}

.in_text_link {
	margin: 0em;
}

img {
	width: 50%;
	margin-right: 50%;
}
